<div  class="container">
<div class="row"><!-- container titulo imagenes separadas con textos  -->
    <div  class="section-title col-md-12">
      <div class="followUs" >
        <h5 >Síguenos en...</h5>
      </div>
      <div class="category">
        
        	<a ng-href="https://www.facebook.com/SrSraCroqueta"><img class="picture" src="redsocial/facebook.png"></a>
        	<a href="https://www.instagram.com/srsracroqueta"><img class="picture" src="redsocial/instagram.png"></a>
        	<a href=""><img class="picture" src="redsocial/pinterest.png"></a>
        	<a href="https://www.twitter.com/SrSraCroqueta"><img class="picture" src="redsocial/twitter.png"></a>
       
      </div>
    </div>
  </div>
</div> 
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="bottomText">
				<h5>©2016 Sr & Sra Croqueta | <a href="">Condiciones legales</a>  | <a href="">Política de Cookies</a> | <a ng-href="formulario">Contactar</a></h5>
				</div>
			</div>
		</div>
	</div>				
</footer>			
		
		
	
