<header class="Header">
    <div class="container">

        <div class="row">
            <div id="mainLogo" class="col-md-12 ">
            <a  href="/"><img class="croquette" src="logo/logoSRSRA.png"></a>
            </div>
                
            
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 menu">
                <ul class="nav nav-pills nav-justified home">
                    <li><a ng-href="/">INICIO</a></li>
                    <li>
                    <div class="dropdown">
                         <button class="btn btn-default dropdown-toggle " type="button" data-toggle="dropdown" data-hover="dropdown" >PROVEEDORES
                             
                         </button>
                          <ul class="dropdown-menu">
                          <li><a href="ShowSuppliers/2" >IGLESIAS</a></li>
                          <li><a href="ShowSuppliers/3">FLORISTERIAS</a></li>
                          <li><a href="ShowSuppliers/1">RESTAURANTES</a></li>
                        </ul>
                        </div>
                     </li>
                    <li><a ng-href="DIY">DIY</a></li>
                    <li><a href="">BLOG</a></li>
                    <li><a ng-href="formulario">CONTACTO</a></li>
                </ul>
            </div>
        </div>
    </div>                        
</header>