<header>
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h1 class="brainFlower w50 text-center">Busqueda Tutoriales DIY </h1>
               <h4 class="titleH">
                   ¡Ei, calma! 
                   <br>
                   ¡Sr & Sra Croqueta están aquí para ayudar! 
                   <br>
                   ¡Que no cunda el pánico, vamos a tranquilizarnos!
                   <br> 
                   Encuentra todo lo que necesites en un solo click.</h4>
                   <h4 class="diyWedding">Sugerencias de búsqueda</h4>
                   <h4 class="keyWords">IDEAS - DECOR - SOUVENIRS - INVITATIONS - CAKE - BOUQUET</h4> 
           </div>
       </div>
   </div>
</header>
<div class="row">
   <div class="col-md-6 col-md-offset-3">
       <form action="#">
           <p><input type="text" id="search" placeholder="Busca tu tutorial..." autocomplete="off" class="form-control" /></p>
           <p><input type="submit" value="Buscar" class="form-control btn btn-primary w100"></p>
       </form>
   </div>
</div>
<div class="container">
   <div class="row">
       <div id="results"> </div>
   </div>
</div>