        <header>
            <h1 class="brainFlower w50 text-center">Busqueda Tutoriales DIY </h1>
            <h4 class="titleH">¡Ei, calma! Sr & Sra Croqueta están aquí para ayudar! No te agobies, vamos a tranquilizarnos. Encuentra todo lo que necesites en un solo click</h4>
        </header>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="#">
                    <p><input type="text" id="search" placeholder="Busca tu tutorial..." autocomplete="off" class="form-control" /></p>
                    <p class="center"><input type="submit" value="Buscar" class="form-control btn btn-primary w100"></p>
                </form>
            </div>
        </div>
<div class="container">
    <div class="row">
        <div id="results"> </div>
    </div>
</div>
